
.out div:nth-child(63){
  -webkit-transform: rotateX(120deg)  translateZ(300px);
  -ms-transform: rotateX(120deg)  translateZ(300px);
  -o-transform: rotateX(120deg)  translateZ(300px);
  transform: rotateX(120deg)  translateZ(300px);
}
.out div:nth-child(64){
  -webkit-transform: rotateX(120deg) rotateY(30deg) translateZ(300px);
  -ms-transform: rotateX(120deg) rotateY(30deg) translateZ(300px);
  -o-transform: rotateX(120deg) rotateY(30deg) translateZ(300px);
  transform: rotateX(120deg) rotateY(30deg) translateZ(300px);
}
.out div:nth-child(65){
  -webkit-transform: rotateX(120deg) rotateY(60deg) translateZ(300px);
  -ms-transform: rotateX(120deg) rotateY(60deg) translateZ(300px);
  -o-transform: rotateX(120deg) rotateY(60deg) translateZ(300px);
  transform: rotateX(120deg) rotateY(60deg) translateZ(300px);
}
.out div:nth-child(66){
  -webkit-transform: rotateX(120deg) rotateY(120deg) translateZ(300px);
  -ms-transform: rotateX(120deg) rotateY(120deg) translateZ(300px);
  -o-transform: rotateX(120deg) rotateY(120deg) translateZ(300px);
  transform: rotateX(120deg) rotateY(120deg) translateZ(300px);
}
.out div:nth-child(67){
  -webkit-transform: rotateX(120deg) rotateY(150deg) translateZ(300px);
  -ms-transform: rotateX(120deg) rotateY(150deg) translateZ(300px);
  -o-transform: rotateX(120deg) rotateY(150deg) translateZ(300px);
  transform: rotateX(120deg) rotateY(150deg) translateZ(300px);
}
.out div:nth-child(68){
  -webkit-transform: rotateX(120deg) rotateY(180deg) translateZ(300px);
  -ms-transform: rotateX(120deg) rotateY(180deg) translateZ(300px);
  -o-transform: rotateX(120deg) rotateY(180deg) translateZ(300px);
  transform: rotateX(120deg) rotateY(180deg) translateZ(300px);
}
.out div:nth-child(69){
  -webkit-transform: rotateX(120deg) rotateY(210deg) translateZ(300px);
  -ms-transform: rotateX(120deg) rotateY(210deg) translateZ(300px);
  -o-transform: rotateX(120deg) rotateY(210deg) translateZ(300px);
  transform: rotateX(120deg) rotateY(210deg) translateZ(300px);
}
.out div:nth-child(70){
  -webkit-transform: rotateX(120deg) rotateY(240deg) translateZ(300px);
  -ms-transform: rotateX(120deg) rotateY(240deg) translateZ(300px);
  -o-transform: rotateX(120deg) rotateY(240deg) translateZ(300px);
  transform: rotateX(120deg) rotateY(240deg) translateZ(300px);
}
.out div:nth-child(71){
  -webkit-transform: rotateX(120deg) rotateY(300deg) translateZ(300px);
  -ms-transform: rotateX(120deg) rotateY(300deg) translateZ(300px);
  -o-transform: rotateX(120deg) rotateY(300deg) translateZ(300px);
  transform: rotateX(120deg) rotateY(300deg) translateZ(300px);
}
.out div:nth-child(72){
  -webkit-transform: rotateX(120deg) rotateY(330deg) translateZ(300px);
  -ms-transform: rotateX(120deg) rotateY(330deg) translateZ(300px);
  -o-transform: rotateX(120deg) rotateY(330deg) translateZ(300px);
  transform: rotateX(120deg) rotateY(330deg) translateZ(300px);
}
