
.out div:nth-child(53){
  -webkit-transform: rotateX(100deg)  translateZ(300px);
  -ms-transform: rotateX(100deg)  translateZ(300px);
  -o-transform: rotateX(100deg)  translateZ(300px);
  transform: rotateX(100deg)  translateZ(300px);
}
.out div:nth-child(54){
  -webkit-transform: rotateX(100deg) rotateY(30deg) translateZ(300px);
  -ms-transform: rotateX(100deg) rotateY(30deg) translateZ(300px);
  -o-transform: rotateX(100deg) rotateY(30deg) translateZ(300px);
  transform: rotateX(100deg) rotateY(30deg) translateZ(300px);
}
.out div:nth-child(55){
  -webkit-transform: rotateX(100deg) rotateY(60deg) translateZ(300px);
  -ms-transform: rotateX(100deg) rotateY(60deg) translateZ(300px);
  -o-transform: rotateX(100deg) rotateY(60deg) translateZ(300px);
  transform: rotateX(100deg) rotateY(60deg) translateZ(300px);
}
.out div:nth-child(56){
  -webkit-transform: rotateX(100deg) rotateY(120deg) translateZ(300px);
  -ms-transform: rotateX(100deg) rotateY(120deg) translateZ(300px);
  -o-transform: rotateX(100deg) rotateY(120deg) translateZ(300px);
  transform: rotateX(100deg) rotateY(120deg) translateZ(300px);
}
.out div:nth-child(57){
  -webkit-transform: rotateX(100deg) rotateY(150deg) translateZ(300px);
  -ms-transform: rotateX(100deg) rotateY(150deg) translateZ(300px);
  -o-transform: rotateX(100deg) rotateY(150deg) translateZ(300px);
  transform: rotateX(100deg) rotateY(150deg) translateZ(300px);
}
.out div:nth-child(58){
  -webkit-transform: rotateX(100deg) rotateY(180deg) translateZ(300px);
  -ms-transform: rotateX(100deg) rotateY(180deg) translateZ(300px);
  -o-transform: rotateX(1000deg) rotateY(180deg) translateZ(300px);
  transform: rotateX(100deg) rotateY(180deg) translateZ(300px);
}
.out div:nth-child(59){
  -webkit-transform: rotateX(100deg) rotateY(210deg) translateZ(300px);
  -ms-transform: rotateX(100deg) rotateY(210deg) translateZ(300px);
  -o-transform: rotateX(100deg) rotateY(210deg) translateZ(300px);
  transform: rotateX(100deg) rotateY(210deg) translateZ(300px);
}
.out div:nth-child(60){
  -webkit-transform: rotateX(100deg) rotateY(240deg) translateZ(300px);
  -ms-transform: rotateX(100deg) rotateY(240deg) translateZ(300px);
  -o-transform: rotateX(100deg) rotateY(240deg) translateZ(300px);
  transform: rotateX(100deg) rotateY(240deg) translateZ(300px);
}
.out div:nth-child(61){
  -webkit-transform: rotateX(100deg) rotateY(300deg) translateZ(300px);
  -ms-transform: rotateX(100deg) rotateY(300deg) translateZ(300px);
  -o-transform: rotateX(100deg) rotateY(300deg) translateZ(300px);
  transform: rotateX(100deg) rotateY(300deg) translateZ(300px);
}
.out div:nth-child(62){
  -webkit-transform: rotateX(100deg) rotateY(330deg) translateZ(300px);
  -ms-transform: rotateX(100deg) rotateY(330deg) translateZ(300px);
  -o-transform: rotateX(100deg) rotateY(330deg) translateZ(300px);
  transform: rotateX(100deg) rotateY(330deg) translateZ(300px);
}
